node_modules/
client/node_modules/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

package-lock.json

.yarn.lock
.env.local
.env.development
.env.test
.env.production
.env.staging    
.env.demo
.env.demo.local
.env.demo.development
.env.demo.test
.env.demo.production
.env.demo.staging
.env.demo.demo
.env.demo.demo.local
.env
# macOS
.DS_Store
package-lock.json/
localHostIP.json
yarn.lock/
